= simple_form_for [@commentable, @comment], remote: true, html: { role: 'form' } do |f|
	= f.input :body, input_html: { rows: 4 }, placeholder: 'Add a comment'
	.text-center
		= f.button :submit, 'Create comment', class: 'btn btn-success'