$('#formModal').modal('toggle');

if( $('.alert-info').length ){
	$('.alert-info').html('Your comment was successfully created.');
} else {
	$('#main').prepend('<div class="alert alert-info">Your comment was successfully created.</div>');
}