$('#formModal').modal('toggle');

if( $('.alert-info').length ){
	$('.alert-info').html('Your comment was successfully updated.');
} else {
	$('#main').prepend('<div class="alert alert-info">Your comment was successfully updated.</div>');
}
if( $('#question-comments').length === 0 ){
	$('#question').after('<div class="row"><div id="question-comments" class="comments well well-sm"></div></div>');
}

$(<%= "#{@commentable.commentable_type.downcase}-#{@commentable.id}-comments" %>).html('<%= j render "comments/comments", commentable: @commentable %>');