$('#formModal').modal('toggle');

if( $('.alert-info').length ){
	$('.alert-info').html('Your answer was successfully created.');
} else {
	$('#main').prepend('<div class="alert alert-info">Your answer was successfully created.</div>');
}

<% publish_to "/questions/#{@question.id}/answers" do %>
	$('#answers').html('<%= j render "questions/answers" %>');
<% end %>